<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chawarmagrill.efood">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>


ba0f1d7b3637c3a1e8bd21f95321ca12
f925ecb96517bd97f66cdd109e87969d
MGded6736a524162a556f875d1dcab38f2


+12722917286
+15067120924